#box-container {
	height: 500px;
	display: flex; /* MAKES THIS A FLEX CONTAINER */
	flex-direction: row; /* flex direction is row by default */
	/* justify-content: center;
	align-items: center; */
}

#box1 {
	background-color: dodgerBlue;
	width: 100%;
	height: 200px;
	flex-shrink: 1;
}

#box1 > p,
#box2 > p {
	font-size: 50px;
	color: white;
	/* text-align: center; */
}

#box2 {
	background-color: orangered;
	width: 100%;
	height: 200px;
	flex-shrink: 2; /* twice as small as box1 */
}
