.d1 {
	background: LightSkyBlue;
	grid-area: header;
}

.d2 {
	background: LightSalmon;
	grid-area: advert;
}
.d3 {
	background: PaleTurquoise;
	grid-area: content;
	display: grid;
	grid-template-columns: auto 1fr;
}

.d4 {
	background: LightPink;
	grid-area: footer;
}

.d5 {
	background: PaleGreen;
}

.itemOne {
	background: PaleGreen;
}

.itemTwo {
	background: BlanchedAlmond;
}

.container {
	font-size: 40px;
	min-height: 300px;
	width: 100%;
	background: LightGray;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-gap: 10px;

	grid-template-areas:
		"advert header"
		"advert content"
		"advent footer"
}
