/* CSS VARIABLES */
:root {
	/* VARIABLES HAVE TO BE SCOPED TO THE THE ELEMENT IN WHICH YOU ARE ATTEMPTING TO USE THEM. PLACING THESE VARIABLES HERE MAKES THEM GLOBAL. */
	--header-color: gray;
	--body-color: blue;
	--footer-color: orange;
}

/* MEDIA QUERIES CAN BE USED TO OVERRIDE VARIABLES */
@media (max-width: 500px) {
	:root {
		--body-color: pink;
	}

	body > p {
		color: white;
	}
}

header {
	background: var(--header-color, gray);
}

body {
	/* LOCAL SCOPE VARS OVERRIDE GLOBAL ONES */
	/* --body-color: purple; */
	background: var(--body-color, black);
}

footer {
	background: var(--footer-color, orange);
}
